
<div class="container mt-5">
  <p style="color: blue">Add new Servers or blueprints</p>

  <form>
    <label for="serverName" style="font-weight: bold;">Server Name</label>
    <input class="form-control" type="text" id="serverName" name="serverName" [(ngModel)]="serverName">

    <label for="serverContent" style="font-weight: bold; margin-top: 20px;">Server Content</label>
    <input class="form-control" type="text" id="serverContent" name="serverContent" [(ngModel)]="serverContent">

    <div class="mt-4">
      <button class="btn btn-primary" (click)="addServer()">Add Server</button>
      <button class="btn btn-primary ml-2" (click)="addBlueprint()">Add Server Blueprint</button>
    </div>
  </form>
  <hr/>
  <!-- List of servers and blueprints -->
  <div class="card mb-3" *ngFor="let element of servers">
    <div class="card-header">{{ element.name }}</div>
    <div class="card-body" [class.server]="element.type == 1" [class.blueprint]="element.type == 2">{{ element.content }}</div>
  </div>
</div>

